.cart {
    background: linear-gradient(170deg, #212138, #0a0712);
    display: none;
    padding: 10px 20px 20px;
    position: fixed;
    right: 8px;
    top: 8px;
    width: 260px;
    overflow-y: auto;
    box-shadow: -6px 6px 14px #ffbf8861;
  }
  
  .cart img {
    aspect-ratio: 4/3;
    width: 30%;
    margin-bottom: 10px;
  }
  
  .cart li {
    border-bottom: 1px solid #444;
    padding: 16px 0px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .cart footer button {
    margin: 10px 0px;
    padding: 0px 8px;
  }
  

  .cart-button {
    align-items: center;
    background:   linear-gradient(270deg, #4f56ff, #ff4980);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 28px;
    top: 16px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .cart-button:hover {
    scale: 1.1;
  }

  .cart-button ~ input:checked ~ .cart {
    height: 90%;
    display: block;
  }
  .clear-cart-button {
    margin-top: 20px;
    background: linear-gradient(270deg,#ff4980,#ff1d24);
  }

