.cart {
    background: #000;
    display: none;
    padding: 0px 30px 30px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 260px;
    overflow-y: auto;
  }
  
  .cart img {
    aspect-ratio: 4/3;
    width: 30%;
  }
  
  .cart li {
    border-bottom: 1px solid #444;
    padding: 16px 0px;
  }
  
  .cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .cart footer button {
    padding: 8px;
  }
  

  .cart-button {
    align-items: center;
    background: #09f;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .cart-button:hover {
    scale: 1.1;
  }

  .cart-button ~ input:checked ~ .cart {
    height: 90%;
    display: block;
  }
  .clear-cart-button {
    margin-top: 20px;
    background: #c71212;
  }

